# Ignore virtual environment
venv/

# Ignore Django database file
*.sqlite3

# Ignore local settings
myproject/

# Ignore static files directory
myproject/staticfiles/

Scripts/

Lib/
# Ignore media files directory
myproject/media/

# Ignore logs
*.log

# Ignore environment configuration files
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore IDE settings
.vscode/
.idea/
