li {
    list-style: none;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-left: 160px;
  }
  
  .add-btn {
    height: 35px;
    background-color: rgba(195, 194, 194, 0.43);
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .list {
    padding: 10px;
  }
  
  li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 2px solid rgba(195, 194, 194, 0.43);
    box-shadow: 4px 4px 5px 1px rgb(0 0 0 / 8%);
    padding: 15px 10px;
    margin-bottom: 20px;
  }
  
  .salary-text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .upd-del-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .company-info {
    margin-left: 160px;
    margin-bottom: 40px;
  }
  